#fondo {
    background: rgb(160, 160, 160)
}
#bordenegro {
    padding: 5px
    border
}
#cabecera {
    background: rgb(167, 250, 181)
}
#titulo {
    color: rgb(172, 51, 51)
}
#textoencabezado {
    color: rgb(99, 190, 99)
}
#imagen {
    padding: 10px
}